
  body {
    background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  }
  h1 {
    font-family: 'Snippet', sans-serif;
    text-align: center;
    font-size: 100px;
    margin: 30px 0 0 0;
  }
  
  button {
    font-family: 'Snippet', sans-serif;
    background: #7be2e2;
    border: solid 1px;
  }
  
  h2 {
    font-family: 'Snippet', sans-serif;
    text-align: center;
    font-size: 70px;
    font-weight: 30px;
    margin: 0 0 10px 0;
    color: #a13578;
  }
  h3 {
    font-family: 'Snippet', sans-serif;
    text-align: center;
    font-size: 26px;
    margin: 0 0 15px 0;
    color: #3fc1c9;
  }
  
  h4 {
    font-family: 'Snippet', sans-serif;
    color: #137083;
    font-size: 20px;
  }
  p {
    font-family: 'Snippet', sans-serif;
    text-align: center;
    text-transform: capitalize;
  }
  
  
  .humidity {
    font-family: 'Snippet', sans-serif;
    color: #757575;
  }

  .wind {
    font-family: 'Snippet', sans-serif;
    color: #757575;
    margin: 0 auto;
  }
  
  .today {
    font-family: 'Snippet', sans-serif;
    color: #212121;
    font-size: 24px;
    text-transform: capitalize;
  }

  .description {
    font-family: 'Snippet', sans-serif;
    color: #212121;
    font-size: 24px;
    text-transform: capitalize;
  }


  
  .col-3 {
    font-family: 'Snippet', sans-serif;
    text-align: center;
    margin: 0 0 0 auto;
  }


  .col-2 {
    font-family: 'Snippet', sans-serif;
    text-align: center;
    margin: 0 0 0 auto;
  }
  .card-body {
    font-family: 'Snippet', sans-serif;
    text-align: center;
    font-size: 15px;
    display: block;
    margin: 0 0 0 auto;
    padding: 0 0 0 0;
  }
  
  .container {
    font-family: 'Snippet', sans-serif;
    text-align: center;
    margin: 40px;
  }
  
  .card {
    font-family: 'Snippet', sans-serif;
    display: block;
    margin: 0 0 0 auto;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  }
  
  .card-emoji {
    font-size: 55px;
    margin: 0 0 0 auto;
  }
  
  .card-text {
    font-family: 'Snippet', sans-serif;
    font-size: 16px;
    margin: 0 0 0 0;
  }

  h6 {
    font-family: 'Snippet', sans-serif;
    font-size: 14px;
    display: block;
    margin: 30px 0 0 0;
  }
  