 .container {
    background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
    border-radius: 15px;
    margin: 20px auto;
    width: 450px;
    padding: 35px;
    

  }

  .find {
    background: transparent;
    border: solid 1px;
    font-size: 18px;
    padding: 5 5 5 5;
    border-radius: 8px;
    
  }




  h1 {
    font-family: 'Questrial', sans-serif;
    text-align: center;
    font-size: 100px;
    margin: 30px 0 0 0;
  }

  
  button {
    font-family: 'Questrial', sans-serif;
    background: #73dfbe;
    border: solid 1px;
    font-size: 18px;
    padding: 5 5 5 5;
    border-radius: 8px;
  }
  
  h2 {
    font-family: 'Questrial', sans-serif;
    text-align: center;
    font-size: 70px;
    font-weight: 30px;
    margin: 0 0 10px 0;
    color: #a82375;
  }
  h3 {
    font-family: 'Questrial', sans-serif;
    text-align: center;
    font-size: 26px;
    margin: 0 0 15px 0;
    color: black;
    text-align: center;
  }
  
  h4 {
    font-family: 'Questrial', sans-serif;
    color: #006c7a;
    font-size: 20px;
    text-align: center;
  }
  p {
    font-family: 'Questrial', sans-serif;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
  }
  
  
  .humidity {
    font-family: 'Questrial', sans-serif;
    color: #636361;
  }

  .wind {
    font-family: 'Questrial', sans-serif;
    color:#636361;
    margin: 0 auto;
  }
  
  .today {
    font-family: 'Questrial', sans-serif;
    color: #212121;
    font-size: 24px;
    text-transform: capitalize;
  }

  .description {
    font-family: 'Questrial', sans-serif;
    color: #212121;
    font-size: 24px;
    text-transform: capitalize;
  }

  .feels {
    font-family: 'Questrial', sans-serif;
    color: #212121;
    font-size: 20px;
  }


  
  .col-3 {
    font-family: 'Questrial', sans-serif;
    text-align: center;
    margin: 0 0 0 auto;
  }


  .col-2 {
    font-family: 'Questrial', sans-serif;
    text-align: center;
    margin: 0 0 0 auto;
  }
  .card-body {
    font-family: 'Questrial', sans-serif;
    text-align: center;
    font-size: 15px;
    display: block;
    padding: 0 0 0 0;
  }
  
  
  
  .card {
    font-family: 'Questrial', sans-serif;
    display: block;
    margin: 0 0 0 auto;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    border-radius: 8px;
  }
  
  .card-emoji {
    font-size: 55px;
    margin: 0 0 0 auto;
  }
  
  .card-text {
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    margin: 0 0 0 0;
  }

  h6 {
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    text-align: center;
    display: block;
    margin: 0 0 0 0;
  }
  